/* .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
} */

/* .carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
} */

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red;
  color: #000;
}

.carousel-control-prev,
.carousel-control-next {
  width: 80px;
} */

/* @media (max-width: 1300px) {
  .carousel-item {
    height: 100vh;
  }
} */
